@using ECommerceProject.Models
@model IEnumerable<Order>
@{
    ViewData["Title"] = "ViewOrder";
}

<h1>ViewOrder</h1>

<form>
    <div class="col-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Order No</th>
                    <th>Name</th>
                    <th>Phone No</th>
                    <th>Address</th>
                    <th>Order Date</th>
                    <th>Order Deatils</th>
                    <th>Delete</th>
                    
                </tr>
               
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.OrderNo
                    </td>
                    <td>@item.Name</td>
                    <td>@item.PhoneNo</td>
                    <td>@item.Address</td>
                    <td>@item.OrderDate</td>
                    <td>
                        <a asp-action="GetOrderDetail" class="btn btn-info"  asp-route-id="@item.Id">Deatails</a>
                    </td>

                     <td>
                        <a asp-action="DeleteOrder" class="btn btn-info" asp-route-id="@item.Id">Cancel</a>
                     </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="form-group text-right">
            <a asp-action="index" asp-controller="home" >Back to Home</a>
        </div>
    </div>
</form>



